<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings />
        <services>
            <service behaviorConfiguration="NewBehavior0" name="Service.Service1">
                <endpoint address="net.tcp://210.119.32.21:8123" binding="netTcpBinding"
                    bindingConfiguration="" contract="Service.IService1" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://210.119.32.21t:8123" /> 
                        <add baseAddress="http://210.119.32.21:8124" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>